HeartbeatPortal/HeartbeatPortal/Service References/HeartbeatServer/HeartbeatServer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HeartbeatServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HeartbeatServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServiceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceInfo" nillable="true" type="tns:ServiceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceInfo" nillable="true" type="tns:ArrayOfServiceInfo" />
  <xs:complexType name="ServiceInfo">
    <xs:sequence>
      <xs:element name="_x003C_ApplicationName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastHeartBeatDate_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_ServerName_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceInfo" nillable="true" type="tns:ServiceInfo" />
</xs:schema>