HeartbeatPortal/HeartbeatPortal/Service References/HeartbeatServer/HeartbeatServer2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HeartbeatServer.dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HeartbeatServer.dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerInfo" nillable="true" type="tns:ServerInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerInfo" nillable="true" type="tns:ArrayOfServerInfo" />
  <xs:complexType name="ServerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerInfo" nillable="true" type="tns:ServerInfo" />
  <xs:complexType name="ArrayOfMethodLoadDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MethodLoadDetails" nillable="true" type="tns:MethodLoadDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMethodLoadDetails" nillable="true" type="tns:ArrayOfMethodLoadDetails" />
  <xs:complexType name="MethodLoadDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AverageDuration" type="xs:long" />
      <xs:element minOccurs="0" name="ExceptionCount" type="xs:int" />
      <xs:element minOccurs="0" name="ExecutionCount" type="xs:int" />
      <xs:element minOccurs="0" name="Load" type="xs:long" />
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MethodLoadDetails" nillable="true" type="tns:MethodLoadDetails" />
  <xs:complexType name="MethodDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstExecution" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastExecution" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OverallAverageDuration" type="xs:long" />
      <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalExceptionCount" type="xs:int" />
      <xs:element minOccurs="0" name="TotalExecutionCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MethodDetails" nillable="true" type="tns:MethodDetails" />
  <xs:complexType name="ArrayOfAverageOrDurationDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AverageOrDurationDetails" nillable="true" type="tns:AverageOrDurationDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAverageOrDurationDetails" nillable="true" type="tns:ArrayOfAverageOrDurationDetails" />
  <xs:complexType name="AverageOrDurationDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="AverageDuration" type="xs:long" />
      <xs:element minOccurs="0" name="ExecutionCount" type="xs:int" />
      <xs:element minOccurs="0" name="ExecutionTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AverageOrDurationDetails" nillable="true" type="tns:AverageOrDurationDetails" />
  <xs:complexType name="ArrayOfMethodDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MethodDetails" nillable="true" type="tns:MethodDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMethodDetails" nillable="true" type="tns:ArrayOfMethodDetails" />
</xs:schema>