HeartbeatPortal/HeartbeatPortal/Service References/HeartbeatServer/HeartbeatServer5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HeartbeatServer.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HeartbeatServer.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetServersRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllServers" type="xs:boolean" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetServersRequest" nillable="true" type="tns:GetServersRequest" />
  <xs:complexType name="GetServicesRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllServices" type="xs:boolean" />
      <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetServicesRequest" nillable="true" type="tns:GetServicesRequest" />
  <xs:complexType name="GetTopMethodLoadRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="MethodNumber" type="xs:int" />
      <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTopMethodLoadRequest" nillable="true" type="tns:GetTopMethodLoadRequest" />
  <xs:complexType name="GetMethodDetailRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetMethodDetailRequest" nillable="true" type="tns:GetMethodDetailRequest" />
  <xs:complexType name="GetMethodDurationOrCountRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodNumber" type="xs:int" />
      <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetMethodDurationOrCountRequest" nillable="true" type="tns:GetMethodDurationOrCountRequest" />
  <xs:complexType name="GetMethodsOfServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetMethodsOfServiceRequest" nillable="true" type="tns:GetMethodsOfServiceRequest" />
</xs:schema>