HeartbeatPortal/HeartbeatPortal/Service References/HeartbeatServer/HeartbeatServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HeartbeatServer.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HeartbeatServer.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9122/HeartbeatServer?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HeartbeatServer.dto" />
  <xs:import schemaLocation="http://localhost:9122/HeartbeatServer?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/HeartbeatServer" />
  <xs:complexType name="GetServersResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HeartbeatServer.dto" minOccurs="0" name="ServerInfoList" nillable="true" type="q1:ArrayOfServerInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetServersResponse" nillable="true" type="tns:GetServersResponse" />
  <xs:complexType name="GetServicesResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HeartbeatServer" minOccurs="0" name="ServiceInfoList" nillable="true" type="q2:ArrayOfServiceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetServicesResponse" nillable="true" type="tns:GetServicesResponse" />
  <xs:complexType name="GetTopMethodLoadResponse">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HeartbeatServer.dto" minOccurs="0" name="MethodLoadDetailList" nillable="true" type="q3:ArrayOfMethodLoadDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTopMethodLoadResponse" nillable="true" type="tns:GetTopMethodLoadResponse" />
  <xs:complexType name="GetMethodDetailResponse">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HeartbeatServer.dto" minOccurs="0" name="Details" nillable="true" type="q4:MethodDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetMethodDetailResponse" nillable="true" type="tns:GetMethodDetailResponse" />
  <xs:complexType name="GetMethodDurationorCountResponse">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HeartbeatServer.dto" minOccurs="0" name="Details" nillable="true" type="q5:ArrayOfAverageOrDurationDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetMethodDurationorCountResponse" nillable="true" type="tns:GetMethodDurationorCountResponse" />
  <xs:complexType name="GetMethodsOfServiceResponse">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HeartbeatServer.dto" minOccurs="0" name="MethodList" nillable="true" type="q6:ArrayOfMethodDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetMethodsOfServiceResponse" nillable="true" type="tns:GetMethodsOfServiceResponse" />
</xs:schema>